/* @import '~normalize.css';
@import 'roboto.css'; */

/* body {
  background-color: rgb(192, 240, 255);
  font-family: 'Roboto', sans-serif;
}

.section {
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 43.75rem;
}

h1 {
  text-align: center;
  color: #0d0345;
}

.section__logo {
  margin: 0 auto;
  height: 12.5rem;
  width: 12.5rem;
  background-image: url('../assets/webpack-logo.png');
  background-size: contain;
} */
